.dark-theme {
    background-color: #333; /* Цвет фона для темной версии */
    color: #fff; /* Цвет текста для темной версии */
    /* Другие стили для темной версии */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(42, 131, 76);
    background-color: #f8f8f8; 
}

.intro {
    font-size: 50px;
    font-style: italic;
}

.intro1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
}

.header-title {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; 
    color: #29b948;



}

.about-us {
    font-size: 23px;
    line-height: 1.6;
}

.about {
    font-size: 50px;
}

nav {
    text-align: center;
    background-color: #333; 
    padding: 10px; 
}

.nav-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s; 
}

.nav-button:hover {
    background-color: #45a049;
}

.Team {
    font-size: 50px;
    color: blue; 
    font-weight: bold; 
}

.contact-data {
    font-size: 25px;
}

.contact-text {
    font-size: 23px;
}

.form_class {
    font-size: 20px;
}

header, main {
    padding: 20px;
    color: green;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

nav ul li a:hover {
    color: #000;
}

header h1 {
    color: #333;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: green;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    border-top: 2px solid #ccc; 
}
