/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    color: rgb(42, 131, 76);
}

.intro
{
    font-size: 50px;

}
.intro1
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.header-title
{
    font-size: 50px;

}
.about-us
{
    font-size: 23px;
}
.about
{
    font-size: 50px;

}
nav {
    text-align: center; /* Центрируем текст внутри навигационного меню */
}
.nav-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
/* При наведении курсора меняем цвет фона */
.nav-button:hover {
    background-color: #45a049; /* Темнозеленый цвет */
}
.contact-data
{
    font-size: 25px;

}
header, main, footer {
    padding: 20px;
    color: green;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #000;
}

/* Стили для каждой страницы */
header h1 {
    color: #333;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

